go 1.19

use (
	./Dining_Philosophers
	./Producer_Consumer
	./Sleeping_Barber
	./Go_Micro/front-end
	./Go_Micro/broker-service
	./Go_Micro/authentication-service
	./Go_Micro/logger-service
	./Go_Micro/mail-service
	./Go_Micro/listener-service
)
